{% extends "layouts/main.twig" %}
{% block content %}
<h3>Редагувати "{{product_cost.name}}" </h3>
 

<form action="{{path('/products/', product.id, true)}}update" method="POST"  enctype="multipart/form-data" >
<input  type="hidden" name="PATCH" value="1">
<input type="hidden" name="cost_id" value="{{product_cost.cost_id}}"> 

{% for attribute in product_cost_attributes %}
  <label  class="form-label">{{attribute.attributes_name}}</label>
  <div class="mb-3 input-group">   
        <input type="hidden" name="cost_atrribute_id" value="{{attribute.id}}"> 
        <input type="number" class="form-control" aria-label="{{attribute.name}}"  
    pattern='[0-9]+(\.[0-9][0-9]?)?' min= "0" step="0.01" value="{{attribute.value}}"   name="cost_atrributes_value" required>
    <span class="input-group-text">{{attribute.unit_name}}</span>
  </div>
{% endfor %}  
<div class="mb-3">
  <button type="submit" class="btn btn-primary">Зберегти</button>
</div>
</div>
{% endblock %}
