{% extends "layouts/main.twig" %}
{% block content %}
<h3>{{product.name}}</h3>
<div class="col-3">
    <button type="button" class="btn btn-primary mt-3 mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Додати
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Додати номенклатуру</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{path('/products/', product.id) }}{{'/costs'}}" method="POST"  enctype="multipart/form-data"> 
            <div class="modal-body"> 
                    <div class="mb-3">
                        <label for="unit" class="form-label">Додати статтю витрати</label>
                        <select class="form-select" aria-label="select cost" name="cost_id" id="cost_id">
                        {% for cost in costs %}
                            <option value="{{cost.id}}">{{cost.name }} ({{cost.unit_name }})</option>  
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantity"  class="form-label">Кількість</label>
                        <input type="number" pattern='[0-9]+(\.[0-9][0-9]?)?'  step="0.01" class="form-control" name="quantity" id="quantity" required>
                    </div> 
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="submit" class="btn btn-primary">Додати</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість</th>
            <th scope="col">Ціна</th>
            <th scope="col">Сума</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for cost in product_costs %}
        <tr>
            <th scope="row">{{cost.num}}</th>
            <td>{{cost.name}}</td> 
            <td>{{cost.quantity}}</td>
            <td>{{cost.unit_cost}}</td>
            <td>{{cost.total_cost}}</td>
            <td class="control">
                <span class="resource-edit resource-btn">
                    <i role="button" class="fa fa-pencil " aria-hidden="true"></i>
                </span>
                <form class="product-delete  resource-btn" action="{{path('/costs/', cost.id, true)}}" method="POST">
                        <input  type="hidden" name="_delete" value="1">
                        <button role="button" type="submit" class="fa fa-trash-o text-danger " aria-hidden="true"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="4" class="text-end"><b>Загальна сума</b></th>
            <th  colspan="2">{{total_costs}}</th> 
        </tr>
    </tbody>
</table>

{% endblock %}